Source: ros-jazzy-turtlebot4-viz
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-rqt-robot-monitor, ros-jazzy-rviz2, ros-jazzy-turtlebot4-description, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-turtlebot4-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-rqt-robot-monitor, ros-jazzy-rviz2, ros-jazzy-turtlebot4-description, ros-jazzy-ros-workspace
Description: Visualization launchers and helpers for Turtlebot4
